.l-products__title {
  margin-bottom: 15px;
}

.l-products__content {
  ul {
    list-style-type: none;

    li {
      width: 23.7%;
      margin-bottom: 20px;

      @include max-screen($breakpoint-mobile) {
        width: 30%;
        margin-bottom: 12px;
      }
    }
  }
}

.l-products__blank {
  text-align: center;
}

@media only screen and (min-width : 768px) and (max-height: 900px) {
  .l-products__content {
    ul {
      li {
        margin-bottom: 7px;
      }
    }
  }
}
