.l-products__title {
  margin-bottom: 15px;
}

.l-products__content {
  ul {
    list-style-type: none;

    li {
      width: 23.7%;
      margin-bottom: 20px;

      @include max-screen($breakpoint-mobile) {
        width: 30%;
        margin-bottom: 12px;
      }
    }
  }
}

.l-products__blank {
  text-align: center;
}

.l-products__pagination {
  margin-top: 25px;
  text-align: center;

  @include max-screen($breakpoint-mobile) {
    margin-top: 10px;
  }

  .wp-pagenavi {
    span,
    a {
      padding: 15px 20px;
      color: $color-primary;
      border-color: $color-primary;
      transition: background-color $duration $easing,
      color $duration $easing;

      @include max-screen($breakpoint-mobile) {
        padding: 6px 10px;
        font-size: 12px;
      }

      &:hover,
      &.current {
        color: #fff !important;
        border-color: $color-primary;
        background-color: $color-primary;
      }
      &:visited {
        color: $color-primary;
      }

      &.previouspostslink,
      &.nextpostslink {
        cursor: pointer;
      }
    }
  }
}
