.hero {
  width: 100%;
  position: absolute;
  pointer-events: none;
  opacity: 0;

  &.is-shown {
    pointer-events: auto;
    opacity: 1;
    transition: opacity $duration $easing;
  }

  video {
    width: 100%;
    height: calc(100vh - 159px);
    position: absolute;
    opacity: 0;
    border: none;
    transition: opacity $duration $easing;

    object-fit: cover;

    &.is-loaded {
      opacity: 1;
    }
  }
}

@media only screen and (min-width : 768px) and (max-height: 800px) {
  .hero {
    video {
      height: calc(100vh - 121px);
    }
  }
}
