.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, .8);
  transition: opacity $duration $easing;

  &.is-active {
    pointer-events: auto;
    opacity: 1;

    .popup__content {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  .admin-bar & {
    top: 32px;
  }
}

.popup__close {
  display: none;
  position: fixed;
  z-index: 1043;
  top: 50px;
  right: 20px;
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  letter-spacing: .1em;
  color: $base-font-color;

  @include max-screen($breakpoint-mobile) {
    top: 40px;
    right: 10px;
  }

  .admin-bar & {
    top: 82px;
  }

  &:before,
  &:after {
    display: block;
    width: 20px;
    height: 2px;
    content: '';
    background-color: #fff;
    transform: translate(5px, -33px) rotate(45deg);

    @include max-screen($breakpoint-mobile) {
      transform: translate(0, -23px) rotate(45deg);
    }
  }
  &:after {
    transform: rotate(-45deg) translate(28px, -21px);

    @include max-screen($breakpoint-mobile) {
      transform: rotate(-45deg) translate(18px, -18px);
    }
  }
}

.popup__content {
  width: 40.2vw;
  max-height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 40px 30px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 15px 10px rgba(10,10,10,.1);
  transition: transform $duration $easing;
  transform: translate(-50%, -50%) scale(0);

  @include max-screen($breakpoint-mobile) {
    width: 85%;
    max-height: 80%;
    top: 46%;
    padding: 15px 18px;
  }
}

.popup__details {
  a {
    display: block;
    margin-top: 20px;
    color: $color-primary;
  }
}

.popup__image {
  width: 100%;
  height: 290px;

  object-fit: cover;
  object-position: top;
  @include max-screen($breakpoint-mobile) {
    height: 175px;
  }
}

.popup__title {
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;

  @include max-screen($breakpoint-mobile) {
    margin: 15px 0;
    font-size: 18px;
  }
}



.popup__price {
  margin-top: 20px;
}
